name: Tests

on:
  pull_request:

jobs:
  lint:
    name: Code Style Check
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.4'
          
    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --ignore-platform-reqs
      
    - name: Run code style check
      run: composer lint

  check:
    name: Static Analysis
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.4'
          
    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --ignore-platform-reqs
      
    - name: Run static analysis
      run: composer check